<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @company.twitter %>
</p>

<p>
  <strong>Category:</strong>
  <%= @company.category_id %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @company.tags %>
</p>

<p>
  <strong>Crunchbase:</strong>
  <%= @company.crunchbase %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
